services:
  manager:
    image: emmanuelgonzalez/sos_manager:latest
    env_file: .env
    volumes:
      - ./data:/opt/data
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
  planner:
    image: emmanuelgonzalez/sos_planner:latest
    env_file: .env
    volumes:
      - ./data:/opt/data
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
  appender:
    image: emmanuelgonzalez/sos_appender:latest
    env_file: .env
    volumes:
      - ./data:/opt/data
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
  # sos_resolution_layer:
  #   image: emmanuelgonzalez/sos_resolution_layer:latest
  #   env_file: .env
  #   volumes:
  #     - ./data:/opt/data
  #     - ./sos.yaml:/opt/sos.yaml