name: sos_execution
services:
  manager:
    container_name: sos_manager
    image: codelaborg/sos:latest
    command: python3 src/manager/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"

  planner:
    container_name: sos_planner
    image: codelaborg/sos:latest
    command: python3 src/planner/main.py
    env_file: .env
    environment:
      - DOWNLOAD_CHECK_INTERVAL=10
      - DOWNLOAD_MAX_ATTEMPTS=1
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"
    depends_on:
      - manager

  appender:
    container_name: sos_appender
    image: codelaborg/sos:latest
    command: python3 src/appender/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"
    depends_on:
      - manager

  simulator:
    container_name: sos_simulator
    image: codelaborg/sos:latest
    command: python3 src/simulator/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"
    depends_on:
      - manager