services:
  manager:
    image: codelaborg/sos:latest
    command: python3 src/manager/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"

  planner:
    image: codelaborg/sos:latest
    command: python3 src/planner/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"

  appender:
    image: codelaborg/sos:latest
    command: python3 src/appender/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"

  simulator:
    image: codelaborg/sos:latest
    command: python3 src/simulator/main.py
    env_file: .env
    volumes:
      - ./sos.yaml:/opt/sos.yaml
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ./:/opt/
    network_mode: "host"
    restart: "no"